<h1>Contact Us</h1>
<ol>
  <% @members.each do |member| %>
    <li><%= member.capitalize %></li>
  <% end %>
</ol>

<!-- app/views/pages/contact.html.erb -->
<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?" value= <%= params[:member] %>>

  <input type="submit">
</form>


<%= link_to "Back to home", root_path %>
